<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>657863146043-n7ak7bi5khhomucrabvigko64gungi04.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.657863146043-n7ak7bi5khhomucrabvigko64gungi04</string>
	<key>API_KEY</key>
	<string>AIzaSyAsTRIfWA-rFkGsSd5s_gtNB97rhCHJk-8</string>
	<key>GCM_SENDER_ID</key>
	<string>657863146043</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.wodobro</string>
	<key>PROJECT_ID</key>
	<string>wodobro-a53c8</string>
	<key>STORAGE_BUCKET</key>
	<string>wodobro-a53c8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:657863146043:ios:b1601098028f96ab743a1e</string>
</dict>
</plist>